{% extends "main.html" %}
{% load custom_tags %}
{% load django_tables2 %}

{% block title %}{{ title }}{% endblock %}
{% block body_title %}<a class="navbar-brand" href=".">{{ body_title }}</a>{% endblock %}
{% block head %}{% endblock %}
{% block breadcrumb_primary %}{% endblock %}
{% block breadcrumb_secondary %}{% endblock %}
{% block script %}{% endblock %}

{% block content %}
<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
    <div class="bg-white mb-3 text-center">
        <img src="/static/workflow/{{ object.id }}.png" style="max-width: -webkit-fill-available">
    </div>
</div>
<div class="col-8">
    <div class="row">
        <div class="col-12">
            <div class="card bg-white mb-3">
                <div class="card-header">
                    <div class="row">
                        <h6 class="col-12">{{ label }}</h6>
                    </div>
                </div>
                <div class="card-body">
                    {% detail_view object %}
                </div>
                <div class="card-footer">
                    <a href="update{{ parent_get_link }}" class="btn btn-outline-dark">Изменить</a>
                    <button class="btn btn-outline-dark" id="copy" name="copy">Копировать</button>
                    <a href="{{ parent_link }}" class="btn btn-outline-dark">Закрыть</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card table-inside">
                <div class="card-header">
                    <div class="row">
                        <h6 class="col-6">Состояния</h6>
                        <a href="{% url 'tamer-state-create' %}?workflow={{ object.id }}"
                   class="far fa-plus-square col-6"></a>
                    </div>
                </div>
                <div class="card-body">
                    {% render_table state_table "tables.html" %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card table-inside">
                <div class="card-header">
                    <div class="row">
                        <h6 class="col-6">Переходы</h6>
                        <a href="{% url 'tamer-edge-create' %}?workflow={{ object.id }}"
                   class="far fa-plus-square col-6"></a>
                    </div>
                </div>
                <div class="card-body">
                    {% render_table edge_table "tables.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card table-inside">
                <div class="card-header">
                    <div class="row">
                        <h6 class="col-12">Неактивные состояния</h6>
                    </div>
                </div>
                    <div class="card-body">
                        {% render_table inactive_state_table "tables.html" %}
                    </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card table-inside">
                <div class="card-header">
                    <div class="row">
                        <h6 class="col-12">Неактивные переходы</h6>
                    </div>
                </div>
                    <div class="card-body">
                        {% render_table inactive_edge_table "tables.html" %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
