{% extends "main.html" %}
{% load custom_tags %}
{% load django_tables2 %}

{% block title %}{{ title }}{% endblock %}
{% block body_title %}<a class="navbar-brand" href=".">{{ body_title }}</a>{% endblock %}
{% block head %}{% endblock %}
{% block breadcrumb_primary %}{% endblock %}
{% block breadcrumb_secondary %}{% endblock %}
{% block script %}{% endblock %}

{% block content %}
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h6 class="col-12">{{ label }}</h6>
                </div>
            </div>
            <div class="card-body">
                {% detail_view object %}
            </div>
            <div class="card-footer">
                <a href="update" class="btn btn-outline-dark">Изменить</a>
                <a href=".." class="btn btn-outline-dark">Закрыть</a>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-6 col-md-6 col-sm-6">
        <div class="card table-inside">
            <div class="card-header">
                <div class="row">
                    <h6 class="col-6">Контакты</h6>
                    <!--                        <a href="create" class="far fa-plus-square text-dark col-6 pt-2" style="text-align: right;"></a>-->
                    <a href="{% url 'tamer-opportunity-contact-create' %}?opportunity={{ object.id }}"
                       class="far fa-plus-square col-6"></a>
                </div>
            </div>
            <div class="card-body">
                {% render_table table "tables.html" %}
            </div>
        </div>
    </div>
{% endblock %}
